{%extends 'dashbase.html'%}
{%block css%}
<link rel="stylesheet" type=text/css href="{{url_for('static',filename='project_view.css')}}">
{%endblock css%}

{%with proj=project%}
{%include 'navfiles/proj_view_nav.html'%}
{%endwith%}
{%block content%}
<div class='main-dir container'>
    <h5>Directory Path &nbsp; </h5> <i class="fa fa-refresh" style="font-size:24px;color:rgb(238, 196, 10)"></i>
</div>
{%for f in folders.items()%}

<i class="fa fa-folder"></i>{{f[0]}}
<br>
{%for j in f[1]%}
<i class="fa fa-file-o get-link" style="font-size:20px;color:rgb(238, 196, 10)">&nbsp;</i>{{j}} <button aria-hidden="true"
     style="background-color:white;border: aliceblue;" data-path ="{{url_for('file_link',project_id=project.project_id,directory_path = f[0],blob_name=j)}}"><i class="fa fa-link"
        style="font-size:10px;color:rgb(238, 196, 10)"></i></button>
<br>
{%endfor%}
<br>
{%endfor%}

{%endblock%}