<div class="navbar navbar-light bg-light proj-nav">
    
        <!-- Add table here -->
        <div class="active"><a href="#">Details </a></div>
        <a href="{{url_for('project_log_report',project_id=proj.project_id)}}">View Logs </a>
        <a href="{{url_for('config_project',project_id=proj.project_id)}}">Configure <span class="badge badge-secondary">{{proj.cloud}}</span></a>
        <a href="{{url_for('files_board',project_id=proj.project_id)}}">File Management</a>
        <a href="#">Report Management</a>
        <button class="btn btn-danger navbar-btn" id="train" data-path = "{{url_for('train_project',project_id=proj.project_id)}}">Train {{proj.project_title}}</button>
        <button class="btn btn-danger navbar-btn" id="predict">Predict {{proj.project_title}}</button>
        
</div>

